/* css variables */

:root {
  --main-color: #022988;
  --primary-color: #ef5068;
  --black: #13131a;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* config html page and properties */

* {
  font-family: Lato, sans-serif;
  outline: none;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

section {
  padding: 3rem 7%;
  margin-bottom: 12rem;
}

.heading {
  font-size: 5rem;
  margin-top: 4rem;
  margin-bottom: 9rem;
  color: var(--primary-color);
  text-align: center;
}

.btn {
  margin-top: 1rem;
  background: var(--primary-color);
  color: #fff;
  display: inline-block;
  border-radius: 5rem;
  box-shadow: var(--box-shadow);
  padding: 1rem 4rem;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #bd394c;
  z-index: -1;
  transition: 0.3 linear;
}

.btn:hover::before,
.btn:hover::after {
  width: 100%;
}

.btn::before {
  left: 0;
}

.btn::after {
  right: 0;
}

/* header */

#head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 9%;
  background: #f0f4ff;
  box-shadow: var(--box-shadow);
}

#head .logo-container {
  display: flex;
  align-items: center;
}

#head .logo-container .name {
  font-size: 3rem;
  font-weight: bolder;
}

#head .logo-container .logo {
  width: 7rem;
}

#head .navbar a {
  font-size: 2.2rem;
  color: var(--black);
  margin-left: 2rem;
}

#head .navbar a:hover {
  color: var(--primary-color);
}

#menu {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
}

/* hero section */

#home {
  display: flex;
  align-items: center;
  background: url(./images/300.jpg) no-repeat;
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: -10rem;
}

#home::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: black;
  opacity: 0.5;
}

#home .content {
  max-width: 60rem;
  z-index: 1;
}

#home .content h3 {
  font-size: 8rem;
  color: #fff;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding-bottom: 2rem;
}

/* about */

.about .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--primary-color);
  padding: 1rem 0;
}

.about .row .content p {
  text-transform: none;
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
  line-height: 2;
}

.about ul li {
  font-size: 1.7rem;
  color: var(--main-color);
  padding-top: 1.5rem;
}

.about ul li i {
  font-size: 2rem;
  color: var(--primary-color);
  padding-right: 1rem;
}

.about .row .content .btn {
  margin: 3rem 0;
}

.about .row .image {
  flex: 1 1 30rem;
}

.about .row .image img {
  width: 75%;
  margin-left: 7rem;
}

/* songs */

.songs {
  background: #f0f4ff;
}

.songs .box-container .box .image {
  position: relative;
  overflow: hidden;
  content: "";
}

.songs .box-container .box .image img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.songs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.songs .box-container .box .image:hover .share {
  display: block;
  width: 7rem;
  height: 38rem;
  position: absolute;
  left: 12rem;
  top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}

.songs .box-container .box .image:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: black;
  opacity: 0.5;
}

.songs .box-container .box .image .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2.2rem;
  color: #fff;
  border: 0.2rem solid #fff;
  text-align: center;
  position: absolute;
}

.songs .box-container .box .image .share a:hover {
  background: #fff;
  color: var(--black);
}

.songs .box-container .box .content {
  padding-top: 1rem;
}

.songs .box-container .box .content p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.songs .box-container .box .content p:first-child {
  font-weight: bold;
}

.gallery {
  background: #f0f4ff;
}

.gallery .controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.gallery .controls li {
  height: 4rem;
  width: 16rem;
  background: #fff;
  color: var(--primary-color);
  font-size: 2rem;
  line-height: 4rem;
  cursor: pointer;
  margin: 1rem;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.gallery .controls .button.active {
  background: var(--main-color);
  color: #fff;
}

